DB_HOST=devsecops-bdd
DB_NAME=myapp
DB_USER=appuser
DB_PASSWORD=apppassword
DB_ROOT_PASSWORD=rootpassword
AWS_ACCESS_KEY=AKIAIMADEUPKEY123456
AWS_ACCESS_KEY2=AKIAIMADEUPKEY12345678
AWS_ACCESS_KEY3=AKIAIMADEUPKEY654321
AWS_SECRET_KEY=z8s9d8s7d6f5g4h3j2k1l0m9n8b7v6c5x4z3a2s1
